/* GENERAL */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.logo{
    width: 80px;
    height: 80px;
}

.header{
    width: 100%;
    height: 12vh
}

.navbar-brand{
    margin-left: 1rem;
    font-size: 1.5rem;
}

#navBar{
    padding: 0;
    background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(168,168,168,1) 100%);
}

.nav-link{
    height: 2.5rem;
}

.nav-item a{
    padding-bottom: 2px;
}

.nav-item a:hover{
    border-bottom: 2px solid #333;
}

a:active{
    color: #333;
}

a:visited{
    color: #333;
}

.footer{
    background: linear-gradient(0deg, rgba(168,168,168,1) 0%, rgba(249,249,249,1) 100%);
    height: 8vh;
}

.footer ul{
    display: flex;
    justify-content: center;
    height: 8vh;
}

.footer li{
    list-style: none;
    padding: 20px;
}

.footer a{
    padding: 5px;
}

.footer a:hover{ 
    border-bottom: 2px solid #333;
}

.iconos{
    padding-left: 10px;
}

/* INDEX */
.row{
    width: 100%;
}

.cajaTexto{
    padding: 5rem 0 5rem 5rem;
}

.titulo{
    text-align: center;
    font-size: 60px;
}

.descripcion{
    text-align: justify;
    padding: 50px 65px;
    line-height: 2rem;
}

.cajaImagen{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.imagen{
    width: 420px;
    height: 519px;
}

/* PRODUCTOS */

.card{
    margin-bottom: 2rem;
}

.card-body p{
    color: rgb(51, 51, 51, .7);
}

.tituloProd{
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.descripcionProd{
    margin: 2rem;
    text-align: justify;
    line-height: 2rem;
}

#panes{
    width: 286px;
    height: 287px;
}

#cardContenedor{
    display: flex;
    justify-content: center;
}

.btn{
    width: 40%;
	padding: 8px 16px;
	margin-top: 32px;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	color: #fff !important;
	background-color: #000;
}

.btn:hover{
    background-color: rgb(51, 51, 51, 0.7);
    border: none;
    transform: scale(1.1);
    transition: .3s;
}

/* GALERÍA */

.main-galeria{
    height: 140vh;
}

.galeriaText{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

.galeriaText h2{
    font-size: 35px;
    padding-bottom: 20px;
    text-align: center;
}

.galeriaText p{
    line-height: 2rem;
    text-align: justify;
    padding: 0 5rem;
}

.carousel-inner{
    width: 100%;
} 

.contenedor-galeria{
    width: 40%;
    margin-left: 25rem;
    margin-bottom: 2rem;
}

/* NOSOTROS */

#nosotros{
    width: 100%;
    height: 80vh;
}

.nosotrosTitulo{
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
}

.quienesSomos{
    text-align: justify;
    line-height: 2rem;
    padding: 100px 0 100px 150px;
}

.asideNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}  

.imgBruschettas{
    border-radius: 10px;
    height: 70vh;
}

/* CONTACTO */

.contacto{
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

.form{
    width: 300px;
	padding: 16px;
	border-radius: 10px;
	margin: auto;
	background-color: #ccc;
    margin-bottom: 2rem;
}

form label{
	width: 72px;
	font-weight: bold;
	display: inline-block;
}

form input[type="text"],
form input[type="email"]{
	width: 180px;
	padding: 3px 10px;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	background-color: #f6f6f6;
	margin: 8px 0;
	display: inline-block;
}

form input[type="submit"]{
	width: 100%;
	padding: 8px 16px;
	margin-top: 32px;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: #000;
} 

form input[type="submit"]:hover{
	cursor: pointer;
}

textarea{
	width: 100%;
	height: 100px;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	background-color: #f6f6f6;			
	margin: 8px 0;
	resize:none;
	display:block;
}

.submit:hover{
    background-color: rgb(51, 51, 51, 0.7);
    border: rgb(51, 51, 51, 0.7) 1px solid;
}

@media (max-width: 1024px){
    /* GENERAL */
    .nav-item a:hover{
        border-bottom: none;
    }

    /* INDEX */
    .cajaTexto{
        padding: 0;
        padding-top: 4rem;
    }

    .descripcion{
        padding: 2rem;
    }

    .cajaImagen{
        padding: 2rem;
    }

    /* GALERIA */
    .galeriaText{
        margin-bottom: 5rem;
    }

    .galeriaText p{
        padding: 0 6rem;
    }

    .contenedor-galeria{
        height: 500px;
        margin: 0 auto;
    }

    /* NOSOTROS */
    .quienesSomos{
        padding: 5rem 4rem 3rem 6rem;
    }
    /* CONTACTO */
    .containerForm{
        height: 642px;
    }
}

@media (max-width: 768px){

    /* GENERAL */
    .nav-item a:hover{
        border-bottom: none;
    }
    /* INDEX */
    .indexGrilla{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .titulo{
        font-size: 50px;
    }

    .cajaImagen{
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    .imagen{
        width: 320px;
        height: 400px;
    }
}

/* GALERIA */
    .main-galeria{
        /* height: 816px; */
    }

    .galeriaText{
        height: 300px;
    }

/* NOSOTROS */
    .imgBruschettas {
        /* height: 60vh; */
    }
    .quienesSomos{
        padding-right: 40px;
        padding-left: 65px;
    }

@media (max-width: 576px) {

/* GENERAL */

.nav-item a:hover{
    border-bottom: none;
}

/* INDEX */

.descripcion{
    padding: 50px 20px;
}

.cajaTexto{
    padding: 3rem 3rem 0 3rem;
}

.cajaImagen{
    padding: 0 0 2rem 0;
}

.imagen{
    width: 100%;
    height: 530px;
    width: 550px;
    margin: 0 auto;
}

.row{
    width: 100%;
    padding-left: 1.5rem;
}

/* PRODUCTOS */

.tituloProd{
    margin-top: 1rem;
}

.card{
    margin: 0 auto;
    margin-bottom: 3rem;
}

.descripcionProd{
    text-align: justify;
    padding: 1rem 2rem;
}

/* GALERÍA */

.main-galeria{
    display: flex;
    flex-direction: column;
    height: 730px;
}

.galeriaText{
    height: 50vh;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0;
}

.galeriaText p{
    padding: 1rem 3rem;
}

.contenedor-galeria{
    width: 50%;
    height: 40vh;
    margin: 0 auto;
}

/* NOSOTROS */

#nosotros{
    height: 115vh;
}

.quienesSomos{
    width: 100%;
    height: 50vh;
    padding: 2rem 3rem 0 3rem;
} 

.imgBruschettas{
    width: 90%;
    height: 60vh;
    margin-left: 1.3rem;
}

.asideNosotros{
    height: 60vh;
    box-sizing: border-box;
}

/* CONTACTO */

.containerForm{
    height: 80vh;
}
}
